<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style="color: rebeccapurple; text-align: center">Admin panel</h1>
    <%= yield %>
  <footer>
    <%= link_to "Home", root_path %>
  </footer>
  </body>
</html>
